
.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #C8B4E5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-info h2 {
    margin-top: 0;
  }
  
  .profile-info p {
    margin: 5px 0;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .save-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #C2FBFE;
    color: black;
  }
  
  .cancel-button {
    background-color: #C2FBFE;
    color: black;
  }
  
  .save-button:hover, .cancel-button:hover {
    opacity: 0.8;
  }
  .save-message {
    color: black;
    margin-top: 10px;
    text-align: center;
  }
  input {
    width: 100%;
  }
  
  