.dash-feat {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00E4E3;
    padding: 0 25px;
}

.dash-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: #A060FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

  .dash-img {
    display: flex;
    margin: 10px;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
  }